@model LibraryManagment.Data.Model.Author

@{
    ViewData["Title"] = "Create Author";
}


<hr />
<div class="row orderfrom">
    <div class="col-md-4">
        <form asp-action="Create" asp-controller="Author" method="post" role="form" class="form-horizontal">
            <h3 class="col-md-offset-2">Create New Author</h3>

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <div class="col-md-6">
                    <input asp-for="Name" class="form-control" placeholder="Enter author name" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="btn-group col-md-offset-2 col-md-6">
                    <input type="submit" value="Return" class="btn btn-default" asp-controller="Author" asp-action="List" />
                    <input type="submit" value="Create" class="btn btn-success" />
                </div>
            </div>
        </form>
    </div>
</div>


